<main class="container">
    <h1>Task Timer</h1>
    <div class="task-details">
     <span class="timer">
        <mat-card>{{ time.minutes | twoDigits }}:{{ time.seconds | twoDigits }}</mat-card>
      </span>
      <div class="btn-control">
        <mat-card>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="startTimer()" [disabled]="timeIsRunning"><mat-icon>play_arrow</mat-icon></button>
                <button mat-raised-button color="primary" (click)="pauseTimer()" [disabled]="!timeIsRunning"><mat-icon>pause</mat-icon></button>
                <button mat-raised-button color="primary" (click)="stopTimer()" [disabled]="!canBeStopped" ><mat-icon>stop</mat-icon></button>
            </mat-card-actions>
        </mat-card>
      </div>
      <button *ngIf="showHistory" mat-flat-button color="accent" routerLinkActive="is-active" routerLink="/history">
        Show History
      </button>
    </div>
</main>